* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #AE0000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 580px;
    height: 700px;
    display: flex; /* Para centralização */
    flex-direction: column; /* Elementos organizados em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center; /* Centraliza o texto */
}


.input-group {
    margin-bottom: 15px;
    width: 100%; /* Faz os inputs ocuparem a largura total do contêiner */
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    }
button {
    width: 100%;
    padding: 10px;
    background-color: #FF2A2A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #C33;
}

.register-link {
    color: white;
    font-size: 14px;
    text-align: center; /* Centraliza o link */
}

.register-link a {
    color: #fff;
    text-decoration: underline;
}

footer{
    background-color: #B92626 ;
    padding: 30px;
    text-align:center; /*Alinha texto do rodapé ao centro*/
    bottom: 0;/* Alinha o rodapé abaixo da página*/
    position: absolute;/*Posiciona o rodapé de forma absoluta em relação ao body*/
    width: 100%; /*define a largura do rodapé*/
}

header{
    background-color: #60D6E7 ;
    padding: 40px;
    text-align:center; /*Alinha texto do cabeçalho ao centro*/
}/*Fechamento de header*/

.senai-logo {
    width: 420px; /* Ajuste este valor para aumentar ou diminuir o tamanho da largura */
    height: 89px; /* Mantém a proporção da imagem */
    margin-bottom: 20px;
    border-radius: 10px;
}
header{
    background-color: #B92626 ;
    padding: 40px;
    width: 100%;
    position: fixed;
    top: 0;
}/*Fechamento de header*
